.social {
  display: none;

  @media (min-width: 1280px) {
    display: flex;
    position: fixed;
    top: 300px;
    right: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px 0 0 16px;
    background-color: #eb7b6a;
    padding: 14px 0;

    width: 48px;
    height: 180px;

    li {
      svg {
        width: 22px;
        height: 22px;
        color: white;
      }
    }
  }
}
